/* section111111111111111111111111111111 */
.sathish {
    background-color: orange;
    height: 150px;
    width: 100%;


}

.gompa img {
    float: left;
    height: 150px;
    width: 20%;

}

.raji ul li {
    float: left;
    display: inline;
    margin-top: 60px;
    margin-left: 80px;
    font-size: 25px;
    

}

.raji a {
    text-decoration: none;

}

.raji ul li:hover {
   transform: scale(1.01);
border-bottom: 2px solid black;
}


/* section222222222222222222222222222222222222 */

.roja {
    height: 800px;
    width: 100%;
    /* border: solid red 2px; */


}

.love:hover {
    transition: 2s;
    background: url(varadhi\ big\ img\ 1.webp) no-repeat;
    background-position: center;
    height: 780px;
    width: 100%;


}

.love {
    background: url(varadhi\ 3.webp) no-repeat;
    background-position: center;
    height: 780px;
    width: 100%;


}


/* section333333333333333333333333333333333333333333 */


.s img {
    height: 240px;
    width: 100%;

}

.s button
{
    border-radius: 10px ;
}

.s {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
}

.go {
    margin-top: 20px;
    /* border: solid green; */
    height: 1250px;
    width: 100%;

}

.s p
{
    font-size: 20px;
    color: rgb(155, 5, 5);
}


.s button:hover {
    transform: scale(0.99);
    background-color: transparent;
    color: blue;

}

.s {
    border: 2px solid orange;
    height: 400px;
    box-shadow: grey 10px 10px;
    border-radius: 20px 20px;
    background: orange;

}

.s img {
    border-radius: 15px 15px;

}

.s span
{
    color: red;
}




/* section33333333333333333333333333333333333333333333333333333333/ */



.cow {
    margin-top: 10px;
    /* border: 2px dotted red; */
    height: 550px;
    width: 100%;


}

.lamb img {
    position: absolute;
    width: 99%;
    height: 500px;

}

.lamb p {
    position: relative;
    z-index: 1;
    font-size: 35px;
    color: white;
    padding: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}








/* section4444444444444444444444444444444444444444444444444444 */


.icons {
    margin-top: 10px;
    /* border: solid red; */
    height: 350px;
    width: 100%;
}

.icon img {
    background: rgb(3, 80, 3);
    border-radius: 100px;


}

.icon {
    /* border: 1px solid green; */
    height: 350px;
    width: 20%;
    float: left;
    margin-left: 150px;
    text-align: center;
    margin-top: 20px;
}




/* section555555555555555555555555555555555555555555555555555555 */

.modern {
    /* border: 2px solid red; */

    background: rgb(255, 185, 54);
    height: 400px;
    width: 100%;
    margin-top: 30px;

}

.h {
    text-align: center;
    font-size: 25px;
    padding: 30px;
}



.first {
    float: left;
    margin-left: 50px;
}

/* section66666666666666666666666666666666666666666666666666666 */

.order {
    /* border: 2px double red; */
    height: 630px;
    width: 100%;
    margin-top: 20px;

}

.pic img {
    height: 620px;
    width: 100%;
    border-radius: 20px;
}

.pic {
    float: left;

}

.pic1 {

    float: left;
    margin-left: 70px;

}

.pic1 li {
    color: green;
    font-size: 30px;
}

.pic1 button {
    height: 50px;
    width: 30%;
    font-size: 20px;
    border-radius: 30px;
    background: lightyellow;

}

.pic1 p {
    font-size: 30px;

}

.shop button {

    background-color: lightgoldenrodyellow;
    height: 50px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cart button {
    background-color: rgb(5, 138, 5);
    height: 50px;
    width: 100%;
    font-size: 30px;
}

.pic:hover {
    transform: scale(0.99);

}

.cart button:hover {
    transform: scale(1.01);

}










/* section7777777777777777777777777777777777777777777777777777777777 */




.mini {
    margin-top: 20px;
    /* border: 2px dashed red; */
    height: 280px;
    width: 100%;

}

.min1 img {
    margin-top: 20px;
    height: 250px;
    width: 18%;
    margin-left: 20px;
    float: left;
    border-radius: 10px;

}

.min1 img:hover {
    transform: scale(0.99);

}



/* section888888888888888888888888888888888888888888888888888888888888888888 */





.mar {
    margin-top: 20px;
    /* border: 2px dotted red; */
    height: 100px;
    width: 100%;

}

.marq {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;


}







/* section99999999999999999999999999999999999999999999999999999999999999 */

.star {
    /* border: 2px solid red; */
    margin-top: 20px;
    height: 200px;
    width: 100%;


}

.stars {
    text-align: center;
    font-size: 40px;

}

.review {
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}


/* section101010101010101010101010101101010101010101010 */

.mine {
    /* border: 2px groove red; */
    height: 910px;
    width: 100%;

}

.mine1 img {
    height: 900px;
    width: 50%;
    float: left;
    border-radius: 20px;
    /* border: 2px solid green; */
}


.about {
    margin-left: 650px;
    /* border: 3px solid orange; */
    height: 900px;
    width: 47%;
    background: #ffb74a;
    border-radius: 20px;

}

.about {
    text-align: center;

}

.about h1 {

    margin-top: 200px;
    font-size: 60px;

}

.about p {
    font-size: 25px;

}


/* section11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11  */


.percent {
    margin-top: 20px;
}

.percent {

    /* border: 2px solid red; */
    height: 500px;
    width: 100%;

}


.do p {

    font-size: 200px;
    text-align: center;
    color:green;
    font-weight: bold;
    margin: 100px;

}

.do p
{
    background-color: linear-gradient(to bottom, rgba(120, 146, 120),rgba(36, 177, 36),rgba(7, 50, 7));
background-clip: text;
/* color: transparent; */
}

.do h3 {
    text-align: center;
    font-size: 40px;
    color: green;

}


/* section12 121 22 12 12 12 12 12 121 12 12 12 12 12 1 1 12 121 12  */


.faq {
    margin-top: 20px;
    /* border: 2px solid red; */
    background: orange;
    height: 300px;
    width: 100%;
    border-radius: 10px;


}


.faqq {
    float: left;


}

.faqq h1 {
    margin-left: 100px;
    font-size: 50px;
}

.faqq p {
    margin-left: 30px;
    font-size: 20px;

}

.faqqq {

    float: left;

    /* border: 2px solid red; */
    height: 150px;
    background-color: green;
    margin-left: 140px;
    margin-top: 35px;
    padding: 40px;
    border-radius: 20px;
}

.faqqq select {
    margin-left: 80px;
    margin-top: 12px;
    height: 30px;
}



/* section13 13 13 13 13 13 13 13 13 13 1 313 1313 13 13 1313 13 13 13 */

.last {
    margin-top: 200px;
    background: orange;
    height: 900px;
    width: 100%;
    /* border: 5px dotted red; */
    border-radius: 20px;
}




.oye img {

    height: 50px;
    width: 15%;
}

.oye img {
    margin-top: 500px;

}

.oye {
    float: left;

}

.oye input {
    height: 30px;
    width: 80%;

}

.hloo {

    float: left;

}


.oye li {
    list-style: none;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 20px;


}

.oye h3 {
    margin-left: 100px;
    font-size: 25px;
}



.hloo li {
    margin-left: 150px;
    font-size: 20px;
    margin-top: 40px;

}

.oye li:hover {
    transform: scale(0.99);

}

.hloo h3 {
    margin-left: 150px;
    font-size: 25px;

}


.oye h1 {
    margin-left: 20px;

}

.oye input {
    margin-left: 20px;

}

.oye a {
    margin-left: 20px;
}

.oye p {

    margin-left: 20px;
}